$btn-color: #ff4043;
$btn-text: #ffffff;

.btn1 {
    width: 70px;
    background-color: $btn-color;
    color: $btn-text;
}

.btn2 {
    width: 80px;
    background-color: $btn-color;
    color: $btn-text;
}