* {
    padding: 0;
    margin: 0;
  }
  .flex-container {
    box-sizing: border-box; /* impedir oversizing quando aplicado um tamanho */
    padding: 10px;
    background-color: black;
    color: white;
    min-height: 100vh;
    display: flex;
    gap: 10px;
    /* align-items: center; (flex-start/center/flex-end) alinhar verticalmente */
    /* justify-content: center; (flex-start/center/flex-end) alinhar horizontalmente */
    /* align-content: flex-start; (flex-start/center/flex-end) remover espaçamentos */
    /*flex-flow: row wrap; (shorthand - direction/wrap)*/
  }
  .flex-item {
    background-color: #ff0044;
  }