* {
    padding: 0;
    margin: 0;
  }
  .flex-container {
    box-sizing: border-box; /* impedir oversizing quando aplicado um tamanho */
    padding: 10px;
    background-color: black;
    color: white;
    min-height: 100vh;
    display: flex;
    gap: 10px;

    /* align-items: center; (flex-start/center/flex-end/stetch/baseline) (strech = alinha os itens até preencher o container) (baseline = alinha os itens do tamanho do alinhamento de base deles) alinhar verticalmente */

    /* justify-content: center; (flex-start/center/flex-end/space-around/-space-between) (space-around = mostra os itens com espaço antes, entre e depois) (space-between = mostra os itens com espaço entre eles) alinhar horizontalmente */

    /* align-content: flex-start; (flex-start/center/flex-end/space-around/space-between/stretch) remover espaçamentos */

    /*flex-flow: row wrap; (shorthand - direction/wrap)*/
  }
  .flex-item {
    background-color: #ff0044;
    /* flex-basis: 450px; (base a partir do width) */
    /* flex-grow: 1; (preenchimento de espaço que sobrou - pode fazer um específico pra um item) */
    /* flex-shrink: 1; (diminuir conteúdo igualmente ou não - pode fazer um específico pra um item) */
    flex: 1 1 150px; /* (shorthand - flex-grow/flex-shrink/flex-basis) */
  }